@keyframes moveDown {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes moveOpen {
    from {
        transform: translate(0, 0);

    }
    25% {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

.container__menu {
    animation: moveDown .35s ease-in-out;

}

.container__menu-mobile {
    animation: moveOpen .35s ease-in-out;

}